#map {
    border: 1px solid black;
    width: calc(100% - 640px);
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
}

#map-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
}

#map-last-layer-shadow {
    width: 100%;
    height: 100%;
    background: rgba(1, 1, 1, 0.4);
    position: absolute;
}